#root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-family: 'Spectral', serif;
  color: black;
  letter-spacing: 2px;
  background-color: whitesmoke;
  color: #9c5d04;
}

nav {
  margin: 10px;
  width: 100%;
  height: 20%;
}

.login {
  width: 30%;
}

nav li {
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  margin-right: 25px;
}

.nav-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-img {
  left: 0;
  margin-left: 500;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #9c5d04;
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul {
  width: 100%;
  margin: 10px;
  align-items: right;
}

nav li:hover {
  cursor: pointer;
}

header {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

p {
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card {
  width: 30rem;
  height: 20rem;
  margin: 20px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  width: 100%;
  color: whitesmoke;
  background-image: linear-gradient(to left bottom, #4d194d, #411f4d, #37234a, #2e2546, #272640);
}

.content {
  margin: 15px;
  font-size: 1.2rem;
}


.btn {
  width: 15rem;
  margin: 3px;
  background-color:rgb(57, 57, 57);
  color: whitesmoke;
  font-weight: bold;
  margin: auto;
  margin-top: 15px;
  padding: 10px;
}

.btn:hover {
  cursor: pointer;
}

.profile-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 30rem;
  height: 20rem;
  margin: 20px;
}

.pcard-content {
  border-radius: 5%;
  text-align: center;
  background-image: linear-gradient(to left bottom, #ffb434, #fdd87a, #fde5af, #fdd87a, #ffb434);
}

.title {
  color:black;
  font-weight: bold;
  text-decoration: underline;
}

.login-message {
  color: red;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-container {
  width: 100%;
  height: 100%;
}

.input-box {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.input {
  width: 20rem;
  height: 2rem;
  border-radius: 1%;
  border: none;
}

.input-area {
  width: 20rem;
  height: 15rem;
  border: none;
  border-radius: 1%;
}

.robin {
  width: 10rem;
  border-radius: 35%;
  align-items: left;
}

@media only screen and (max-width: 480px) {

  body {
    background-color: purple;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  .profile-container {
    width: 100%;
    align-content: center;
  }

  
}