#root {
  width: 100%;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  background-size: 300%;
  font-family: 'Spectral', serif;
  color: black;
  letter-spacing: 2px;
}

nav {
  margin: 10px;
  width: 100%;
}

.login {
  width: 30%;
}

nav li {
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  text-decoration: none;
}

nav ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 10px;
  align-items: right;
}

nav li:hover {
  cursor: pointer;
}

header {
  width: 100%;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 10px;
  padding: 10px;
  align-items: center;
  border: 5px solid black;
  border-radius: 5%;
  flex-wrap: wrap;
  box-sizing: border-box;
  box-shadow: 5px 5px;
}

.pcard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 5%;
  box-shadow: 5px 5px;
}

.btn {
  width: 15rem;
  margin: 3px;
  background-color:rgb(57, 57, 57);
  color: whitesmoke;
  font-weight: bold;
  border-radius: 10%;
}

.btn:hover {
  cursor: pointer;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input {
  border-color: lightsteelblue;
  box-shadow: 2px 2px;
}

.robin {
  width: 3rem;
  border-radius: 35%;
  align-items: left;
}