#root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-family: 'Spectral', serif;
  color: black;
  letter-spacing: 2px;
  background-image: linear-gradient(to left bottom, #cddafd, #d2ddfd, #d6e0fd, #dbe4fd, #dfe7fd);
  color: white;
}

nav {
  margin: 10px;
  width: 100%;
  height: 20%;
}

.login {
  width: 30%;
}

nav li {
  text-decoration: none;
  font-weight: bold;
  list-style: none;
  display: flex;
  flex-direction: column;
}

li {
  margin-right: 25px;
}

.nav-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-img {
  left: 0;
  margin-left: 500;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.5rem;
}

nav ul {
  width: 100%;
  margin: 10px;
  align-items: right;
}

nav li:hover {
  cursor: pointer;
}

header {
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

p {
  font-weight: bold;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 33%;
  margin: 10px;
  padding: 15px;
  align-items: center;
  border: 3px solid black;
  border-radius: 5%;
  flex-wrap: wrap;
  box-sizing: border-box;
  box-shadow: 5px 5px black;
  color: whitesmoke;
  background-image: linear-gradient(to left bottom, #4d194d, #411f4d, #37234a, #2e2546, #272640);
}

.pcard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: 10px;
  padding: 10px;
  border: 5px solid black;
  border-radius: 5%;
  box-shadow: 5px 5px black;
  background-image: linear-gradient(to left bottom, #1a759f, #0980a3, #0b8ba5, #1e96a5, #34a0a4);
}

.btn {
  width: 15rem;
  margin: 3px;
  background-color:rgb(57, 57, 57);
  color: whitesmoke;
  font-weight: bold;
  border-radius: 10%;
  margin: auto;
  margin-top: 15px;
}

.btn:hover {
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  width: 100%;
  height: 100%;
}

.input-box {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.input {
  width: 20rem;
  height: 2rem;
}

.input-area {
  width: 20rem;
  height: 15rem;
}

.robin {
  width: 10rem;
  border-radius: 35%;
  align-items: left;
}